<?xml version="1.0" encoding="utf-8"?>
<config>
	<params  addPath="/components/com_droomla/elements">
	<param name="catid" type="category" default="" label="Select category" description="Select categories desc" />
	<param name="secid" type="section" default="" label="Select section" description="Select categories desc" />
	<param name="itemid" type="menuitemlist" size="30" default="" label="Choose Menu Item" description="If you are setting Droomla as your frontpage you need to specify a menu item for SEO Reasons!" />
	<param name="editor_frontend" type="radio" default="0" label="Use JCE Editor on the Frontend" description="Have the JCE editor come up for textareas on the Joomla Frontend site. At this time you probably have to give the user too much power to able to do this safely, we will be looking to enhance this feature in the future for more control as it is a bit clunky at the moment. Will always work for admins though!">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		
		<!--<param name="show_noauth" type="radio" default="0" label="Show UnAuthorized Links" description="TIPLINKS">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_title" type="radio" default="1" label="Show Article Title" description="Show/Hide the articles title">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="link_titles" type="radio" default="1" label="Linked Titles" description="TIPIFYESTITLECONTENTITEMS">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_intro" type="radio" default="1" label="Show Intro Text" description="Show/Hide the intro text">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="show_section" type="radio" default="0" label="Section Name" description="PARAMSECTION">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="link_section" type="radio" default="0" label="Section Name Linkable" description="PARAMSECTIONLINK">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>
		<param name="show_category" type="radio" default="1" label="Category Name" description="PARAMCATEG">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="link_category" type="radio" default="1" label="Category Name Linkable" description="PARAMCATEGLINK">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</param>

		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="show_author" type="radio" default="1" label="Author Names" description="TIPIFSETTOSHOWAUTHOR">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_create_date" type="radio" default="1" label="Created Date and Time" description="TIPIFSETTOSHOWDATETIMECREATED">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_modify_date" type="radio" default="1" label="Modified Date and Time" description="TIPIFSETTOSHOWDATETIMEMODIFIED">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_item_navigation" type="radio" default="1" label="Show Navigation" description="PARAMNAVIGATIONARTICLE">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_readmore" type="radio" default="1" label="Read More Link" description="TIPIFSETTOSHOWREADMORELINK">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_vote" type="radio" default="0" label="Item Rating/Voting" description="TIPIFSETTOSHOWVOTING">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>

		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="show_icons" type="radio" default="0" label="Icons" description="TIPPRINTPDFEMAIL">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_pdf_icon" type="radio" default="0" label="PDF Icon" description="PARAMPDF">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_print_icon" type="radio" default="0" label="Print Icon" description="PARAMPRINT">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_email_icon" type="radio" default="0" label="Email Icon" description="PARAMEMAIL">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_hits" type="radio" default="1" label="Hits" description="TIPIFSETTOSHOWHITS">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="feed_summary" type="radio" default="0" label="For each feed item show" description="TIPSHOWFEEDITEM">
			<option value="0">Intro Text</option>
			<option value="1">Full Text</option>
		</param>
		<param name="@spacer" type="spacer" default="" label="" description="" menu="hide" />
		<param name="@spacer" type="" default="" label="Filtering options" description="TIPFILTERINGOPTIONS" menu="hide" />
		<param name="filter_groups" type="usergroup" multiple="true" size="10" menu="hide"
			default="" label="Filter Groups" description="TIPFILTERGROUPS" />
		<param name="filter_type" type="radio" default="" menu="hide"
			label="Filter Type" description="TIPSFILTERTYPE">
			<option value="BL">Black List (Default)</option>
			<option value="WL">White List</option>
			<option value="NH">No HTML</option>
		</param>
		<param name="filter_tags" type="text" menu="hide"
			default="" label="Filter Tags" description="TIPSFILTERTAGS" />
		<param name="filter_attritbutes" type="text" menu="hide"
			default="" label="Filter Attributes" description="TIPSFILTERATTRIBUTES" />-->

	</params>
	
</config>